/* =============================================== */
/* ---------------- CSS STYLE ------------- */
/* ================================================ */ 

/* 

1. Global Styles
   Headings
   Paragraphs
   Anchor Tags

2. Header
   Menu Bar
   Book Now Button
   Call Us Information
   Sticky Menu

3. Slider
   Slider Caption Headings
   Slider Caption Decsription
   Slider Caption Buttons
   Slider Controls
   Overlay

4. Introduction
   Intro Images
   Intro Heading
   Intro text

5. Our Menu Section
   Heading
   Tabs Section
   Menu Item Lists
   Menu Tab Headings

6. Why Us
   Heading
   Decsription Text
   Flip Boxes

7. Testimonials
   Heading
   Description
   Testimonials Slider (Slick Slider)

8. Reservation Section
   Heading
   Decsription
   Reservation Form

9. Footer
   Footer Logo
   Footer Widget
   Footer Links
   Footer Timings Menu
   Contact Info Widget
   Bottom Footer
   Copyright Text
   Author Credits Text
   Back to top Button


*/

/* ------ Dancing Script, Montserrat Font ------ */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&amp;display=swap');
/* ------ Dancing Script, Montserrat Font ------ */
h1,h2,h3{
	font-family: 'Dancing Script', cursive;
}
p{
	font-family:"Montserrat",sans-serif;
}
a{
  color:#ffffff;
}
a:hover{
  text-decoration:none !important;
  color:#ffffff;
}

/* ------ Header ------ */
.header-section{
	padding-left:0;
	padding-right:0;
	
}
.header-section .navbar{
	padding-top: 30px;
    padding-bottom: 30px;
}
.menu_bar{
	position: absolute;
    z-index: 4;
    left: 0;
    right: 0;
}
.menu_bar .navbar-expand-lg .navbar-nav .nav-link{
	font-family:"Montserrat",sans-serif;
	font-size:13.5px;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing: 1px;
}

/* ------ Right Navbar ------ */
.header-nav-right-info {
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 0;
}
.header-nav-right-info li {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    position: relative;
}
.header-nav-right-info li.header-contact-info {
    padding-left: 30px;
    font-weight: 400;

}
.header-nav-right-info .header-contact-info span {
    display: block;
    font-weight: 700;
    font-size: 20px;
    color:#fff;
}
.header-book-btn{
	 padding-left: 35px;
}
.header-book-btn .btn-primary {
	background: #D31D29;
    border-color: #D31D29;
    margin-top: -32px;
    border-radius:0px;
    padding: 8px 20px;
    font-family:"Montserrat",sans-serif;
    text-transform:uppercase;
    font-weight:600;
    font-size:14px;
    
}
.menu_bar .navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}
.logo-img{
    -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
}

/* ------ Right Navbar ------ */
/* ------ Header ------ */




/* ------ Slider ------ */
.slider-section{
	padding-left:0;
	padding-right:0;
}
.slider-section .carousel-item .carousel-caption h1{
	font-size:4.5rem !important;
	font-weight:700;
}
.slider-section .carousel-item .carousel-caption{
	bottom:30% !important;
	z-index:3 !important;
}

.slider-section .slider-btn{
  background: #D31D29;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  margin-top: 30px;
  font-weight: 500;
  padding: 7px 30px;
  font-family: "Montserrat",sans-serif;
  font-size: 14px;
}
.slider-section .slider-btn:hover{
  background:#AC1723;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.carousel-control-next, .carousel-control-prev{
	z-index:3;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

.carousel-inner .carousel-item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}

.carousel-indicators{
  z-index:2;
}
.read-more-btn{
  background: #1F1F1F;
  padding:10px 15px;
  font-family:"Montserrat",sans-serif;
  color:#ffffff;
  margin-top: 20px;
  display: table;
  font-weight:500;
  text-transform:uppercase;
  font-size:14px;
}
.read-more-btn:hover{
  color:#ffffff;
  text-decoration:none;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}
.hvr-shutter-out-horizontal:before{
  background:#D31D29;
}

/* ------ Slider ------ */

/* ------ About Section ------ */
.intro-section{
	padding-top:70px;
	padding-bottom:70px;
}
.intro-section h1,.why-us-section-heading h3,.reservation-section-heading h3,.testimonials-section-heading h3{
	font-size: 3.2rem;
	font-family: 'Dancing Script', cursive;
	font-weight:700 !important;
	margin-bottom: 30px;
}
.intro-section p{
	font-family:"Montserrat",sans-serif;
	font-weight:400;
}
.bold-text{
	font-weight:600 !important;
}

/* ------ Our Menu Section ------ */
.menu-section{
	padding-top:70px;
	padding-bottom:70px;
	background:rgba(0,0,0,0.3);
	background-size:cover;
}

/* ------ Tabs Css ------ */
.menu-section .nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
    font-family: 'Dancing Script', cursive;
	font-weight:700 !important;
	font-size: 34px;
}

.menu-section .nav-pills-custom .nav-link.active {
    color: #fff;
    background: #d31d29;
}
.menu-section .nav-pills-custom .nav-link.active .tab-icon-images{
	filter: brightness(0) invert(1);
}

.tab-icon-images{
	max-width:60px;
}

.menu-section .tab-pane{
	padding: 1.9rem 3rem !important;
}
.menu-section .tab-title-heading{
	font-family: 'Dancing Script', cursive;
	font-weight:700 !important;
	font-size: 3rem;
	color:#D31D29;
}
.menu-section .menu-section-heading {
	text-align:center;
    padding-bottom: 30px;
}
.menu-section .menu-section-heading h3{
	font-family: 'Dancing Script', cursive;
	font-weight:700 !important;
	font-size: 3.5rem;
	color:#ffffff;
	margin-bottom:30px;
}
.menu-section .menu-section-heading p{
	color:#ffffff;
	font-weight:400;
}

/* ------ Add indicator arrow for the active tab ------ */
@media (min-width: 992px) {
    .menu-section .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
    .menu-section .nav-pills-custom .nav-link.active::before{
	    border-left: 10px solid #d31d29;
	}
}
/* ------ Add indicator arrow for the active tab ------ */

.menu-section .nav-pills-custom .nav-link.active::before {
    opacity: 1;
}
/* ------ Tabs Css ------ */
/* ------ Menu Section ------ */



/* ------ About Section ------ */
.intro-text{
  border: 7px solid #d31d29;
  padding: 30px;
}
.intro-text h1{
  color: #d31d29;
}
.intro-image-block1{
  max-height:400px;
  overflow:hidden;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

}
.intro-image-block2{
  max-height:260px;
  overflow:hidden;
  
}
.intro-image-block3{
  max-height:260px;
  overflow:hidden; 
}
.image_02{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.image_03{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.image_01,.image_02,.image_03{
  
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.intro-image-block1:hover .image_01 ,.intro-image-block2:hover .image_02,.intro-image-block3:hover .image_03{
  -webkit-transform: scale(1.3) rotate(0deg);
  -ms-transform: scale(1.3) rotate(0deg);
  transform: scale(1.3) rotate(0deg);
}
.image_02{
  margin-top:50px;
}
.image_03{
  margin-top:40px;
}


/* ------ About Section ------ */

/* ------ Why Us ------ */

.why-us-section{
	padding-top: 30px;
  padding-bottom: 130px;
	position:relative;
	background:#f5f5f5;
}
.why-us-section-heading{
	text-align:center;
	padding-bottom:30px;
}
.why-us-section-heading h3{
	color: #D31D29;
}
.why-us-section .flip-box {
  background-color: transparent;
  height: 300px;
  perspective: 1000px; 
}
.why-us-section .flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  align-items: stretch;
  transform-style: preserve-3d;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
}
.why-us-section .flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.why-us-section .flip-box-front,.why-us-section .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.why-us-section .flip-box-front {
  background-color: #D31D29;
  color: #ffffff;
  padding: 30px;
}
.why-us-section .flip-box-front h2{
	margin-top: 30%;
    font-size: 2.7rem;
}
.why-us-section .flip-box-back {
  background-color: #D31D29;
  color: #ffffff;
  transform: rotateY(180deg);
  padding: 30px;
}
.box1_front{
	background: url('images/whyus_011.jpg');
	background-size:cover;
}
.box2_front{
	background:url('images/whyus_012.jpg');
	background-size:cover;
}
.box3_front{
	background:url('images/whyus_013.jpg');
	background-size:cover;
}
.whyus_icon_img{
	max-width:80px;
	margin:10px 0;
}

/* ------ flip boxes ------ */
.floating-icons{
	max-width:60px;
}
.icon-2{
	right: 20%;
  float: right;
  top: 20%;
  position: absolute;
}
.icon-3{
	position:absolute;
	left: 15%;

}
.icon-4{
	position: absolute;
    right: 34%;
    bottom: 5%;
}
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
/* ------ flip boxes ------ */

.menu-items-list .menu-block {
    margin: 0px 0px 30px 0px;
    position: relative;
}
.menu-items-list .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.menu-items-list .menu-block .post-thumb{
	position: relative;
    overflow: hidden;
    margin-right: 25px;
    border-radius: 20px;
}
.menu-items-list .menu-block .post-thumb img {
    width: 145px;
    display: block;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    
}
.menu-items-list .menu-block .post-thumb:hover img{
	-webkit-transform: scale(1.3) rotate(0deg);
    -ms-transform: scale(1.3) rotate(0deg);
    transform: scale(1.3) rotate(0deg);
}
.menu-items-list .menu-block .post-thumb::after{
	content: "";
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 100%;
  left: 0;
  z-index: 13;
  background: #fff;
  opacity: 0.6;
  height: 100%;
  transition: bottom 0.4s cubic-bezier(0.77, 0.84, 0.44, 1) 0s, right 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.2s, left 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
}
.menu-items-list .menu-block .inner-box {
    position: relative;
}
.menu-items-list .menu-block .inner-box .info {
    position: relative;
    margin-bottom: 10px;
}
.menu-items-list .menu-block .inner-box .info:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 20px;
    width: 100%;
    border: 1px dashed #e5e5e5;
}
.menu-items-list .menu-block .inner-box .info .post-title {
    font-size: 26px;
    font-weight: 400;
}
.menu-items-list .menu-block .inner-box .info h3 {
    position: relative;
    color: #232323;
    font-size: 16px;
    font-weight: 600;
    padding-right: 10px;
    letter-spacing: 1px;
    background-color: #ffffff;
    -webkit-margin-after: 0;
    margin-block-end: 0;
}
.menu-items-list .menu-block .inner-box .info h3.price {
    font-size: 26px;
}
.menu-items-list .menu-block .inner-box .info .price i {
    font-size: 28px;
}


/* ------ Reservation Section ------ */

.reserveration-section{
	padding-top:70px;
	padding-bottom:70px;
	background-size:cover;
}
.reservation-section-heading{
	text-align:center;
	padding-bottom: 30px;
}
.reservation-section-heading h3{
	color:#ffffff;
	margin-bottom:30px;
}
.reservation-section-heading p{
	color:#ffffff;
}
.reservation-image{
	max-height:460px;
	overflow:hidden;
}
.reservation-form{
	min-height:460px;
	padding:40px;
	background:#ffffff;
}
.pd-r-0{
	padding-right:0 !important;
}
.p-l-0{
	padding-left:0 !important;
}
.booking-section{
	box-shadow: 0 0 30px rgba(0,0,0,.2);
}
.book-table-btn{
	width:100%;
	padding:10px 30px;
	font-family:"Montserrat",sans-serif;
	border:none;
	background:#D31D29;
  color:#ffffff;
	-o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}
.book-table-btn:hover{
  background:#AC1723;
}
.reservation-form .form-control{
  border-radius:0;
  height:45px;
}
.gj-datepicker .input-group-append{
  display:none;
}
/* ------ Reservation Section ------ */

/* ------ Footer ------ */
.footer{
  background:#212121;
  padding-top:40px;
  font-family:"Montserrat",sans-serif;

  background-size:cover;
}
.upper-footer{
  padding-bottom:30px;
}
.footer-widget h4{
  color:#ccc;
  text-transform: uppercase;
  font-size:16px;
  margin-bottom: 30px;
}
.footer-widget p{
  color:#ddd;
  font-size:13px;
}
.first-footer-widget img{
  margin-bottom:20px;
}
.third-footer-widget ul{
  padding-left:0;
}
.third-footer-widget ul li{
  color:#ccc;
  list-style:none;
}
.third-footer-widget ul li a{
  color:#ccc;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding: 5px 0;
  text-decoration:none;
  font-size:14px;
  display: block;
}
.third-footer-widget ul li a:hover{
  color:#fafafa;
}
.working-hours{
  list-style-type: none;
  padding: 0;
}
.working-hours li{
  display: block;
  clear: both;
  padding: 10px 0;
  border-bottom: 1px dashed #eeeeee;
  color:#ccc;
  font-size:14px;
}
.working-hours li span:last-of-type {
    float: right;
}
.footer-contact p i {
    display: inline;
    float: left;
    margin-top: 4px;
    margin-right: 7px;
    height: 25px;
    color: #c11d28;
}
.footer-contact p span {
    display: inline;
}
.footer-contact p,.footer-contact p a{
   color:#ccc;
   font-size:14px;
}
.bottom-footer{
  border-top:1px solid rgba(255,255,255,0.1);
  padding-top:40px;
  padding-bottom:20px;
  
}
.bottom-footer p{
  font-size:13px;
}
.copyright-text{
  color:#ccc;
  font-size:13px;
}
.design-by{
  text-align:right;
  font-size:13px;
  color:#ccc;
}
.design-by a{
  color:#ccc;
}
[aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 1;
}

#toTop {
    position: fixed;
    display: none;
    text-decoration: none;
    bottom: 30px;
    right: 30px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    background: #D31D29;
    border: none;
    text-indent: -9999px;
    z-index: 9999;
    opacity: .9;
    border-radius: 50%;
    line-height: 16px;
    font-size: 10px;
    text-align: center;
}
#toTop:after {
    content: "";
    background-image: url(images/icons/to_top_icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 10px;
    right: 10px;
    margin: auto;
    background-size: 20px;
    -webkit-animation: pulse 0.9s infinite linear;
    -moz-animation: pulse 0.9s infinite linear;
    animation: pulse 0.9s infinite linear;
}
/* ------ Footer ------ */

/* ------ Testimonials ------ */

.testimonials{
  padding-top:80px;
  padding-bottom:80px;
  background:#D31D29;
}
.testimonials-section-heading{
  text-align:center;
  color:#fff;
  margin-bottom:30px;
}
.testimonial-box{
  padding:20px;
  background:#fff;
  border-radius:5px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  margin-left: 10px;
  margin-right: 10px;
  text-align:center;
  min-height: 235px;
}
.testimonial-box .star-rating .fa{
  color: #efbc2e;
}
.testimonial-box .star-rating .grey-star{
  color:#ddd;
}
.testimonial-box .author-name {
  font-family: 'Dancing Script', cursive;
  color:#1f1f1f;
}
.testimonial-box p{
  font-size:14px;
}
.testimonial-box p:before{
  content:url('images/icons/quote.png');
  margin-right:30px;
  opacity: 0.4;
}
button:focus{
  outline:none;
}
/* Testimonials */



/* ------ Form validation ------ */


form .error {
  color: #ff0000;
}
/* ------ Form validation ------ */

/* ------ Media Queries ------ */

@media(min-width:1200px){
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 15px !important;
    z-index: 16;
    background: #171616;
  }
  .menu_bar .dropdown-menu{
    background:#171616;
    border-radius:0;
    padding:0;
  }
  .menu_bar .dropdown-menu .dropdown-item{
    color:#fff;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: .45rem 1.5rem;
  }
  .menu_bar .dropdown-menu .dropdown-item:last-child{
    border-bottom:none;
  }
  .menu_bar .dropdown-menu .dropdown-item:focus,.menu_bar .dropdown-menu .dropdown-item:hover{
    background:#1F1515;
  }
}
@media(min-width:992px) and (max-width:1024px){
  .intro-section h1, .why-us-section-heading h3, .reservation-section-heading h3{
    font-size: 2.7rem;
  }
  .menu-section .nav-pills-custom .nav-link{
    text-align:center;
  }
  .slider-section .carousel-item .carousel-caption h1{
        font-size:3.5rem !important;
  }
  .menu_bar .dropdown-menu {
    background: #171616;
    border-radius: 0;
    padding:0;
  }
  .menu_bar .dropdown-menu .dropdown-item {
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: .45rem 1.5rem;
  }
}
@media(min-width: 768px) and (max-width:991px){
  .slider-section .carousel-item .carousel-caption h1{
        font-size:3.5rem !important;
    }
  .intro-section h1, .why-us-section-heading h3, .reservation-section-heading h3,.testimonials-section-heading h3{
    font-size: 2.7rem;
  }
  .menu_bar{
    position:relative;
    background:#D31D29;
    padding-left: 15px;
    padding-right: 15px;
  }
  .menu_bar .dropdown-menu{
    background:rgba(0,0,0,0);
    border:none;
    border-radius:0;
    padding:0;
  }
  .menu_bar .dropdown-menu .dropdown-item{
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: .4rem 0;
  }
  .header-section{
    background: #d31d29;
  }
  .header-section .navbar{
    padding:10px 0;
  }
  .header-nav-right-info{
    margin-left:0;
  }
  .header-book-btn .btn-primary{
    margin-top:0;
    background:#ffffff;
    color:#000 !important;
  }
  .header-book-btn,.header-nav-right-info li.header-contact-info{
    padding-left:0;
  }
  .header-nav-right-info li.header-contact-info > span > a,.header-nav-right-info li a{
    color:#ffffff !important;
  }
  .header-nav-right-info li.header-contact-info > span > a:hover{
    text-decoration:none !important;
    color:#ffffff;
  }
  .header-nav-right-info li{
    margin: 10px 0 10px 0;
    display:block;
  }
  .intro-text{
    margin-top:30px;
    text-align: center;
  }
  .why-us-section .flip-box-front h2{
    font-size:2.3rem;
    margin-top: 50%;
  }
  .footer-widget{
    margin-bottom:30px;
  }
  .why-us-section .flip-box-back h2{
    font-size: 22px;
  }
  .why-us-section .flip-box-back img{
    max-width:50px;
  }
  .why-us-section .flip-box-back p{
    font-size:14px;
  }
  .read-more-btn{
    margin-left:auto;
    margin-right:auto;
  }
  .menu-section .nav-pills-custom .nav-link{
    text-align:center;
  }
  .menu_bar .navbar-collapse{
    border-top:1px solid rgba(255,255,255,0.2);
  }
}

@media(max-width:576px){
  .menu_bar{
    position:relative;
    background:#D31D29;
  }
  .menu_bar .dropdown-menu{
    background:rgba(0,0,0,0);
    border:none;
    border-radius:0;
    padding:0;
  }
  .menu_bar .dropdown-menu .dropdown-item{
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: .4rem 1rem;
  }
  .slider-section{
    padding-right:0;
  }
  .header-section .navbar{
    padding-top:0;
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-brand img{
    max-width:210px;
  }
  .header-nav-right-info{
    margin-left:0;
    padding-left: 1rem;
  }
  .header-book-btn .btn-primary{
    margin-top:0;
    background:#ffffff;
    color:#000;
  }
  .header-book-btn,.header-nav-right-info li.header-contact-info{
    padding-left:0;
    display: block;
  }
  .header-nav-right-info li{
    margin: 10px 0 10px 0;
  }
  .navbar-dark .navbar-toggler,.navbar-toggler:focus, .navbar-toggler:hover{
    border:none;
  }
  .intro-text{
    margin-top:30px;
    padding:15px;
  }
  .read-more-btn{
    margin-left:auto;
    margin-right:auto;
  }
  .testimonials-section-heading h3,.intro-section h1, .why-us-section-heading h3, .reservation-section-heading h3,.menu-section .menu-section-heading h3{
    text-align: center;
    font-size: 2.4rem;
  }
  .menu-section .tab-pane {
    padding: 1.9rem 1rem !important;
  }
  .menu-items-list .menu-block .inner-box .info .post-title{
    font-size:22px;
  }
  .menu-items-list .menu-block .inner-box .info h3.price {
    font-size: 20px;
  }
  .why-us-section .flip-box{
    margin-bottom:30px;
  }
  .icon-3{
    left:-3%;
  }
  .icon-4 {
      right: 8%;
      bottom: 7%;
  }
  .footer-widget{
    margin-bottom:40px;
  }
  .design-by{
    text-align:center;
  }
  .intro-section p{
    text-align: center;
  }
  .pd-r-0{
    padding-right:15px !important;
  }
  .p-l-0{
    padding-left:15px !important;
  }
  .reservation-form{
    padding:15px;
  }
  .footer-widget h4{
    margin-bottom:20px;
  }
  .menu_bar .navbar-collapse{
    border-top:1px solid rgba(255,255,255,0.2);
  }
  .navbar-nav .nav-link{
      padding: .8rem 1rem;
  }
  .reservation-form,.reservation-image{
    min-height: 390px;
  }

}

/* ------ Media Queries ------ */